body {
    font-family: 'Roboto', sans-serif;
    background: url('../img/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: #F2F2F2;

}
.right {
    margin-left: 50%;
}
header {
    margin-top: 5%;
}
h1 {
    font-size: 1.4em;
    font-weight: 100;
}
h1 > span {
    font-size: 1.5em;
    font-weight: bold;
}
h2 {
    font-size: 1.2em;
    font-weight: 100;
}
h2 > span {
    font-size: 1.3em;
    font-weight: bold;
}
/* Reduced the font here by 0.2em */
h3 {
    font-size: 4em;
    font-weight: bold;
}
/* Reduced the margin here by 2% */
.hello {
    margin-top: 18%;
}
/*reduced the margin here by 5% */
p {
    font-size: 1.4em;
    margin-top: 25%;
}
a {
    text-decoration: none;
    color: #F2C94C;
}
@media only screen and (max-width: 768px) {
    .right {
        margin-left: 5%;
        margin-right: 5%
    }
    
    header {
        margin-top: 3%;
    }
    h1 {
        font-size: 1em;
        font-weight: 100;
    }
    h1 > span {
        font-size: 1.2em;
        font-weight: normal;
    }
    h2 {
        font-size: 0.9em;
        font-weight: 100;
    }
    h2 > span {
        font-size: 1.2em;
        font-weight: normal;
    }
    h3 {
        font-size: 2.6em;
        font-weight: normal;
    }
    .hello {
        margin-top: 30%;
    }
    p {
        font-size: 1.2em;
        margin-top: 40%;
    }
    
}
@media only screen
    and (max-width: 320px) {
        
    .right {
        margin-left: 5%;
        margin-right: 5%
    }
    
    header {
        margin-top: 3%;
    }
    h1 {
        font-size: 1em;
        font-weight: 100;
    }
    h1 > span {
        font-size: 1.3em;
        font-weight: normal;
    }
    h2 {
        font-size: 0.8em;
        font-weight: 100;
    }
    h2 > span {
        font-size: 1.2em;
        font-weight: normal;
    }
    h3 {
        font-size: 2.2em;
        font-weight: normal;
    }
    .hello {
        margin-top: 20%;
    }
    p {
        font-size: 0.9em;
        margin-top: 35%;
    }

}
